<div class="container">

    <h1>PRACTICA 2 CALIFICACION</h1>
    <hr>
    <div class="row">

        <div class="col-lg-6 col-sm-12">
            <h2>div izquierdo</h2>
            <p *ngIf="showLeftText">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptatem odio nam nobis aliquid deleniti dolorum natus exercitationem velit voluptate autem consectetur impedit eveniet, porro iure facere? Aut, officia autem!
            </p>
            <button class="btn btn-primary" (click)="onClickLeftButton()">
                *ngif
            </button>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h2>div derecho</h2>
            <p *ngIf="showRightText">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, mollitia quaerat. Voluptate excepturi, omnis repudiandae soluta distinctio quasi quos, velit delectus doloribus rem beatae enim eius alias neque cumque sed?
            </p>
            <button class="btn btn-primary" (click)="onClickRightButton()">
                *ngif
            </button>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h1>*ngFor </h1>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary" (click)="duplicateHeroes()"> Duplicate Heroes </button>
                </div>
                <div class="col-3">
                    <button class="btn btn-danger" (click)="resetHeroes()"> Reset Heroes </button>
                </div>
            </div>
            <hr>
            <ul>
                <li *ngFor="let heroe of superHeroes">
                    {{ heroe }}
                </li>
            </ul>
        </div>

    </div>

    <div class="row">
        <h1>Pipes</h1>
        <hr>
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Pipe</th>
                        <th scope="col">Sintaxis</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>UpperCasePipe</td>
                        <td>{{ name }} | uppercase </td>
                        <td>{{ name }}</td>
                        <td> {{name | uppercase}} </td>
                    </tr>
                    <tr>
                        <td>LowerrCasePipe</td>
                        <td>{{ name }} | lowercase </td>
                        <td>{{ name }}</td>
                        <td> {{name | lowercase}} </td>
                    </tr>
                    <tr>
                        <td>DatePipe</td>
                        <td>fecha | date: 'MMM d, y, h:mm:ss a' </td>
                        <td>{{ date }}</td>
                        <td> {{date | date: 'MMM d, y, h:mm:ss a'}} </td>
                    </tr>
                    <tr>
                        <td>DecimalPipe</td>
                        <td>número | number: '1.2-2' </td>
                        <td>{{ number }}</td>
                        <td> {{number | number:'1.2-2'}} </td>
                    </tr>

                    <tr>
                        <td>CustomPipe CapitalizePipe</td>
                        <td>cadena | capitalize: true </td>
                        <td>{{ pipeStr }}</td>
                        <td> {{pipeStr | capitalize: true}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>